<nav>
  <div class="site-title">
    <a href="/"><h1>My Node.JS Project</h1></a>
    <p>Student Form</p>
  </div>
  <ul>
    <li><a href="/"></a></li>
    <li><a href="/stdDetails">Student-Details</a></li>
    <li><a href="stdCreate">Add Student</a></li>
  </ul>
</nav>